.contenido-central{
    width: 100%;
    display: flex;
    flex-direction: column; 
}

.contenido-central-main{
    width: 90%;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
}


.contenido-main--imagen{
    width: 75%;
    max-width: 400px;
    overflow: hidden;
    margin: 0 auto;
}

.contenido-main--imagen img{
    width: 100%;
    height: auto;
}

.contenido-main--titulo{
    margin: 20px 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.contenido-central-main > p{
    color: rgb(255, 255, 255);
    font-family: emoji;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: rgb(28, 24, 32);
}

/*cite*/


.container_credits{
    width: max-content;
    margin-top: 2rem;
    left: 0;
    transition: all 1s;
}

.credits{
    font-family: emoji;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: var(--rojiso);
}


/*seccion cards*/

.watch-cards{
    width: 100%;
    padding: 20px 1%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;  
    background-color: var(--high-purple);
}


.watch-cards h2{
    margin: 20px 0;
    font-size: 1.6rem;
    color: rgb(255, 236, 249);
}

.cards-container{
    position: relative;
    width: 100%;
    padding: 1rem 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    overflow: hidden;
}


.card{
    width: 70%;
    max-width: 280px;
    height: 25vh;
    background-color: var(--morado);
    border-radius: 8px;
    overflow: hidden;
}

.card iframe{
    width: 100%;
    height: 100%;
}

.cards--flecha{
    position: absolute;   
    width: 60px;
    height: 100px;
    background-image: url(../assets/images/imgs/flecha.png);
    background-size: cover;
    background-position: center;
    filter: invert(1);
}

.cards--flecha__left{
    left: 0;
    margin-top: 80px;
    transform: rotate(-150deg) scaleX(-1);
}
.cards--flecha__right{
    right: 0;
    margin-top: 280px;
    transform: rotate(150deg);
}

.cards--flecha__left-down{
    left: 0;
    margin-top: 450px;
    transform: rotate(-150deg) scaleX(-1);
}


