.contenido-central{
    width: 100%;
    display: flex;
    flex-direction: column; 
}

.contenido-central-main{
    width: 90%;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
}


.contenido-main--imagen{
    width: 100%;
    height: min-content;
    overflow: hidden;
}

.contenido-main--imagen img{
    width: 100%;
    height: auto;
}

.contenido-main--titulo{
    margin: 20px 0;
    font-weight: bold;
    color: var(--beich);
}

.contenido-central-main > p{
    color: rgb(255, 255, 255);
    font-weight: 500;
    background-color: var(--morado);
}

/*cite*/


.container_credits{
    width: max-content;
    margin-top: 2rem;
    left: 0;
}

.credits{
    display: inline-block;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: #580826;
}


/*seccion cards*/

.watch-cards{
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;  
    background-color: rgb(128, 14, 33, 0.65);
}


.watch-cards h2{
    margin: 30px 0;
    color: rgb(255, 236, 249);
}

.cards-container{
    position: relative;
    width: 100%;
    padding: 1rem 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    overflow: hidden;
}


.card{
    width: 75%;
    max-width: 500px;
    height: 9rem;
    background-color: rgba(54, 11, 22,0.9);
    border-radius: 8px;
    overflow: hidden;
}

.card iframe{
    width: 100%;
    height: 100%;
}

.cards--flecha{
    position: absolute;   
    width: 60px;
    height: 100px;
    background-image: url(../assets/images/imgs/flecha.png);
    background-size: cover;
    background-position: center;
    filter: invert(1);
}

.cards--flecha__left{
    left: 0;
    margin-top: 80px;
    transform: rotate(-150deg) scaleX(-1);
}
.cards--flecha__right{
    right: 0;
    margin-top: 280px;
    transform: rotate(150deg);
}

.cards--flecha__left-down{
    left: 0;
    margin-top: 450px;
    transform: rotate(-150deg) scaleX(-1);
}

/*
.contenido-central{
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenido-central-visual{
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.container-cards{
    display: flex;
    width: 24%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: rgba(158, 32, 53,0.5);
}

.card{
    width: 85%;
    height: 10rem;
    background-color: rgba(54, 11, 22,0.9);
    margin-bottom: 1rem;
    border-radius: 8px;
    overflow: hidden;
}
.card iframe{
    width: 100%;
    height: 100%;
}

.contenido-main-titulo{
    text-align: center;
    margin-bottom: 2%;
    color: #580826;
    font-weight: bolder;
}

.contenido-central-main{
    padding: 3%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.contenido-central-main > p{
    color: rgb(255, 236, 249);
    font-weight: bold;
    background-color: #580826;
}


.contenido-main-imagen{
    width: 70vh;
    height: 70vh;
    overflow: hidden;
}

.contenido-main-imagen img{
    width: 100%;
    height: auto;
}

