

.header-nav{
    background-color: var(--transparent-brown);
    padding: 0.6rem 0.6rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    overflow: hidden;
}

/*parte arriba del nav*/

.header-nav--up{
    width: 100%;
    display: contents;
    align-items: center;
}

.nav-container-icon--blanco{
    filter: invert(1);
}

.nav-container-icon__logo{
    width: 6.5rem;
    height: 3.8rem;
    background-image: url(../assets/images/imgs/Alice_in_Wonderland.svg);
    background-repeat:no-repeat;
    background-size: contain;
}

.nav-container-icon__song{
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../assets/images/icons/sonido.png);
    background-repeat:no-repeat;
    background-size: contain;
}


/*las barras*/

.nav__checked-burguer-container{
    justify-self: end;
}

.nav__checked-burguer{
    display: none;
    justify-self: center;
}

.icon-hamburguesa{
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../assets/images/icons/lines.svg);
    background-size: contain;
    justify-self: end;
    cursor: pointer;
}

/*listado de la parte derecha del nav*/

.header-nav--down{
    height: 0;
    margin-top: 8px;
    grid-column: 1 / 4;
    justify-self: center;
    transition: height 2s;
}

.header-nav--right-list{
    justify-self: center;
    text-align: center;
}


.header-nav--right-list li{
    list-style: none;
    padding: 0.2rem;
}

.header-nav--right-list li a{
    font-family: 'Alice_wonder';
    font-size: x-large;
    text-decoration: none;
    color: #ffffff;
}

.nav__checked-burguer:checked ~ .header-nav--down{
    height: 150px;
}