@font-face {
    font-family: 'Alice_wonder';
    src: url('../fonts/Alice_in_Wonderland_3.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
  }

:root{
    --rojiso: #f03939;
    --morado: #580826;
    --beich: #f2e6cc;
    --azul-dark: #291a44;
    --transparent-brown: rgba(28, 16, 20, 0.6);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*background-image: url(../assets/images/imgs/paper.jpg);*/
    background-color: var(--azul-dark);
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 0.5rem;     /* Tamaño del scroll en vertical */
    background-color: #fffcfc;
   /* height: 0.5rem;     Tamaño del scroll en horizontal */
    /*display: none;   Ocultar scroll */
}

::-webkit-scrollbar-track {
    background: #fffcfc;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--rojiso);
}