@font-face {
    font-family: 'Alice_wonder';
    src: url('../fonts/Alice_in_Wonderland_3.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
  }

:root{
    --rojiso: #f03939;
    --morado: #580826;
    --transparent-brown: rgba(28, 16, 20, 0.6);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://i.pinimg.com/564x/db/86/ea/db86ea9057a3aefc58c58c4315ca1978.jpg);
    background-color: var(--rojiso);
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 0.5rem;     /* Tamaño del scroll en vertical */
    background-color: #fffcfc;
   /* height: 0.5rem;     Tamaño del scroll en horizontal */
    /*display: none;   Ocultar scroll */
}

::-webkit-scrollbar-track {
    background: #fffcfc;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--rojiso);
}