
.contenido-central-button{
    position: fixed;
    width: 5rem;
    height: 5rem;
    right: 1rem;
    bottom: 2rem;
    z-index: 20;
    border-radius: 50%;
    background-color: var(--transp-moradito);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-family: 'Alice_wonder', sans-serif;
    font-weight: bold;
    font-size: small;
    animation: traslator 1.6s alternate;
    transition: all 1s;
}


.contenido-central-button:active{
    background-color: rgba(255, 43, 68, 0.8);
    color: rgb(61, 15, 15);
}

@keyframes traslator{
    0%{
        transform: translate(100px);
    }
}



/*imagen Flotante*/


.container-flotante{
    position: fixed;
    width: 70vw;
    height: 50vh;
    padding: 1rem;
    top: 25vh;
    left: calc(50% - 70vw / 2);
    border-radius: 0.3rem 0 0.3rem;
    background-color: var(--morado);
    display: flex;
    justify-content: center;
}

.container-flotante img{
    object-fit: contain;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.container_btn_close{
    background-color: var(--morado);
    padding: 0.5rem;
    position: absolute;
    top: -4rem;
    right: 0; 
    border-radius: 100% 100% 0 0;
}

.container-flotante button{
    height: 3rem;
    width: 3rem;   
    border-radius: 100%;
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(193, 30, 49,0.8);
}

/*footer*/


.footer{
    min-height: 3rem;
    bottom: 0;
    padding: 1rem 0;
    background-color: rgb(1, 2, 4);
    font-size: 1rem;
    text-align: center;
    color: rgb(255, 180, 180);
}
footer figure{
    filter: invert(1);
    
}

.footer a:link{
    text-decoration: none;
    color: rgb(255, 180, 180);
}

.footer a:visited{
    color: rgb(255, 180, 180);
}