.contenido-central-button{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    bottom: 2.5rem;
    position: fixed;
    background-color: rgba(193, 30, 49,0.8);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    right: 1rem;
    font-weight: bold;
    animation: traslator 1.6s alternate;
}

.contenido-central-button:active{
    background-color: rgba(255, 43, 68, 0.8);
    color: rgb(61, 15, 15);
}

@keyframes traslator{
    0%{
        transform: translate(100px);
    }
}



/*imagen Flotante*/

.container-flotante{
    position: fixed;
    width: 27vw;
    height: 50vh;
    display: flex;
    top: 25vh;
    justify-content: center;
    border-radius: 0.3rem 0 0.3rem;
    padding: 1rem;
    background-color: rgba(1, 2, 4,0.3);
}

.container-flotante img{
    width: auto;
    height: 100%;
}

.container_btn_close{
    background-color: rgba(1, 2, 4,0.3);
    padding: 0.5rem;
    position: absolute;
    top: -4rem;
    right: 0; 
    border-radius: 100% 100% 0 0;
}

.container-flotante button{
    height: 3rem;
    width: 3rem;   
    border-radius: 100%;
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(193, 30, 49,0.8);
}

/*footer*/

.footer{
    background-color: rgb(1, 2, 4);
    text-align: center;
    bottom: 0;
    min-height: 3rem;
    padding: 1rem 0;
    color: rgb(255, 180, 180);
}
footer figure{
    filter: invert(1);
    
}

.footer a:link{
    text-decoration: none;
    color: rgb(255, 180, 180);
}

.footer a:visited{
    color: rgb(255, 180, 180);
}