.contenido-central{
    display: grid;
    grid-template-columns: 25% 1fr;
}

.container-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: brown;
}

.card{
    width: 85%;
    height: 10rem;
    background-color: aqua;
    margin-bottom: 1rem;
}

.contenido-main-titulo{
    text-align: center;
}