.contenido-central-button{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    bottom: 2.5rem;
    position: fixed;
    background-color: rgba(193, 30, 49,0.8);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    right: 1rem;
    font-weight: bold;
}

.contenido-central-button:active{
    background-color: rgba(255, 43, 68, 0.8);
    color: rgb(61, 15, 15);
}

.footer{
    background-color: rgb(1, 2, 4);
    text-align: center;
    min-height: 3rem;
    padding-top: 1rem;
    color: rgb(255, 180, 180);
}