.contenido-central-button{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    bottom: 2.5rem;
    position: fixed;
    background-color: rgba(193, 30, 49,0.8);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    right: 1rem;
    font-weight: bold;
    animation: traslator 1.6s alternate;
}

.contenido-central-button:active{
    background-color: rgba(255, 43, 68, 0.8);
    color: rgb(61, 15, 15);
}

@keyframes traslator{
    0%{
        transform: translate(100px);
    }
}

/*imagen Flotante*/

.container-flotante{
    position: fixed;
    width: 25vw;
    height: 50vh;
    overflow: hidden;
    display: flex;
    top: 25vh;
    justify-content: center;
}

.container-flotante img{
    width: auto;
    height: 100%;
}
.container-flotante button{
    height: 40px;
    width: 40px;
    top: 0;
    right: 0;
    position: absolute;
}

/*footer*/

.footer{
    background-color: rgb(1, 2, 4);
    text-align: center;
    min-height: 3rem;
    padding: 1rem 0;
    color: rgb(255, 180, 180);
}
footer figure{
    filter: invert(1);
    
}

.footer a:link{
    text-decoration: none;
    color: rgb(255, 180, 180);
}

.footer a:visited{
    color: rgb(255, 180, 180);
}